{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Connexion</h1>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
            <a href="{{ path('connect_google_start') }}">
                <button type="button" class="btn btn-lg btn-google">Se connecter avec google</button>
            </a>
        
    </div>

    <form class="form-signin" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn btn-lg btn-pink btn-block" type="submit" id="submit" value="submit">
            Me connecter
        </button>
    </form>

    <a href="{{ path('register') }}">
        <button class="btn btn-pink">Incription</button>
    </a>
</div>
{% endblock %}
