{% extends 'base.html.twig' %}

{% block title %}Admin authors{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5"> Author handler</h1>

        <a href="{{ path('admin_create_author') }}">
            <button name="create" class="btn btn-pink">Create</button>
        </a>

        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
            </tr>
            </thead>
        <tbody>
        {% for author in authors %}
            <tr>
            <td>{{ author.id }}</td>
            <td>{{ author.name }}</td>
            <td>
                <a href="{{ path('admin_edit_author', { id : author.id }) }}" class="btn btn-orange"><i class="fas fa-edit"></i> Edit</a>
                <form method="post" action="{{ path('admin_delete_author', { id : author.id }) }}" >
                    <button type="submit" class="btn btn-danger">
                        <input type="hidden" name="_method" value="DELETE">
                        Delete
                    </button>
                </form>

            </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    </div>
        {{ knp_pagination_render(authors) }}
    </div>
{% endblock %}
