{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Recherche de livres par auteur</h1>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button name="submit" type="submit" class="btn btn-pink">Rechercher</button>
        {{ form_end(form) }}

    </div>
<br>
<div class="row">
    {% for book in books %}
    <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.volumeInfo.title }}</h5>
                        <!-- <p class="card-text">|u.truncate(300, '...')</p> -->
                        <p class="card-text"><small class="text-muted">{{book.volumeInfo.publishedDate|date("d/m/Y")}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
</div>
</div>
{% endblock %}
