<!doctype html>
<html lang="en">
    <title>EnjoyBooks</title>
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}
    <body>
    <div class="ebnavbartop">
        <a class="col-md-3 col-lg-2 mr-0 px-3"><span id="logo"> Enjoybooks </span></a>
        <button class="navbar-toggler position-absolute d-md-none" type="button" data-toggle="collapse"
                data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav px-3">

            {% if app.user %}
        <li class="eb-nav-item text-nowrap">
            <a class="eb-nav-link"  href="{{ path('logout') }}">Se déconnecter</a>
        </li>
        {% else %}
        <li class="eb-nav-item text-nowrap">
            <a class="eb-nav-link" href="{{ path('login') }}">Connexion</a>
        </li>
        <li class="eb-nav-item text-nowrap">
            <a class="eb-nav-link" href="{{ path('register') }}">S'inscrire</a>
        </li>
    {% endif %}
    
    </ul>
</div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 ebnavbarleft">
            <div class="sidebarMenu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="eb-nav-link" href="{{ path('home') }}">
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="eb-nav-item">
                        <a class="eb-nav-link" href="{{ path('author') }}">
                            Auteurs
                        </a>
                    </li>
                    <li class="eb-nav-item">
                        <a class="eb-nav-link" href="{{ path('books') }}">
                            Livres
                        </a>
                    </li>
                    <li class="eb-nav-item">
                        <a class="eb-nav-link" href="{{ path('searchBooks') }}">
                            Recherche de livres
                        </a>
                    </li>
                </ul>
                {% if app.user %}
                <h6>
                    <span id="eb-nav-title">Mon espace</span>
        
                </h6>
                <ul class="nav flex-column mb-2">

                    <li class="eb-nav-item">
                        <a class="eb-nav-link" href="{{ path('profile') }}">
                            Mon profil
                        </a>
                    </li>
                    <li class="eb-nav-item">
                        <a class="eb-nav-link" href="{{ path('subscription' , {userId: app.user.getId()}) }}">
                            Mes abonnements
                        </a>
                    </li>
                    <li class="eb-nav-item">
                        <a class="eb-nav-link" href="{{ path('readBooks') }}">
                            Mes livres lus
                        </a>
                    </li>
                </ul>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <h6>
                        <span id="eb-nav-title">Administration</span>
                    
                    </h6>
                    <ul class="nav flex-column mb-2">

                        <li class="eb-nav-item">
                            <a class="eb-nav-link" href="{{ path('admin_book') }}">
                                Livres
                            </a>
                        </li>
                        <li class="eb-nav-item">
                            <a class="eb-nav-link" href="{{ path('admin_author') }}">
                                Auteurs
                            </a>
                        </li>
                        <li class="eb-nav-item">
                            <a class="eb-nav-link" href="{{ path('admin_user') }}">
                                Utilisateurs
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            {% block body %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div>
            {% endblock %}
        </main>
    </div>
</div>

</body>

</html>
